body {
    background-color: rgb(248, 248, 239);
    font-family: "Monaco", "Courier New", monospace;
}

.title {    
    font-variant: small-caps;
    font-size: 64px;
    color: rgb(56, 43, 0);
}

.title.page-title {
    background-color: bisque;
}

.title.subsection {
    font-size: 48px;
    text-decoration:overline;
    background-color: rgb(204, 209, 189);
    inline-size: 640px;

}

.subsection{
    background-color: rgb(228, 233, 213);
}

.text-content, .list-content {
    font-size: 14px;
    inline-size: 480px;
}

#main-title {
    font-size: 72px;
}

